<div class="grid">
  <div>
    <h1>Hello world!</h1>
    <p>Hello world! So things have been quite fasinating lately, children are playing, birds are singing, on good days like these, children like you, should be burning in hell</p>
  </div>
  <div>
    <h1>Hello Tomorrow!</h1>
    <p>Hello tomorrow! So things have been quite fasinating lately, children are playing, birds are singing, on good days like these, children like you, should be burning in hell</p>
  </div>
  <div>
    <h1>Hello yesterday!</h1>
    <p>Hello yesterday So things have been quite fasinating lately, children are playing, birds are singing, on good days like these, children like you, should be burning in hell</p>
  </div>
</div>