<form action="/login" method="post">
  <label for="email">email</label>
  <input type="email" name="email" id="email">
  <label for="password">password</label>
  <input type="password" name="password" id="password">

  <p>Don't have an account? sign up <a href="/register">here</a></p>
</form>