<section id="page">
  <div id="user">
    <div id="search">
      <form action="#">
        <input type="text" placeholder="Search or paste URL" name="search">
        <button type="submit">
          <i class="gg-search"></i>
        </button>
      </form>
    </div>
  </div>
  <div id="feed">

  </div>
  <div id="dashboard">

  </div>
</section>