<div id="top-bar">
  <button id="nav-button" onclick="toggleNav()">Placeholder</button>
</div>
<header id="side-navbar">
  <div>
    <button id="nav-button" onclick="toggleNav()">Placeholder</button>
  </div>
  <div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About us</a></li>
        <li><a href="/chat">Chat</a></li>
        <% if (user.isLoggedIn) { %>
          <li><a href="/user/<%= user.username %>">You</a></li>
        <% } else { %>
          <li><a href="/login">Login</a></li>
        <% } %> 
      </ul>
    </nav>
  </div>
</header>